STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
SERPAPI_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
SEO_UPDATE_DAYS=30
SEO_MAX_PRODUCTS=100
