# env
.env
.env.*

# node
node_modules
/dist
build
.cache

# uploads
/uploads

# logs
yarn-error.log

# system
.DS_Store
.idea

# coverage
coverage

# medusa
.medusa
medusa-db.sql

# typescript
*.tsbuildinfo

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# windows bug
nul
**/nul